@using EndPoint.WebSite.Models.Components.Slider_Products
@using Store_Application.Common.Extentions
@model IEnumerable<SliderProductViewModel>

<div class="col-lg-3 col-md-3 col-xs-12 pl order-1 d-block">
    <div class="slider-moments">
        <div class="widget-suggestion widget card">
            <header class="card-header promo-single-headline">
                <h3 class="card-title">@ViewBag.SliderTitle</h3>
            </header>
            <div id="suggestion-slider" class="owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" style="transform: translate3d(1369px, 0px, 0px); transition: all 0.25s ease 0s; width: 2190px;">

                        @foreach (var slide in Model)
                        {
                            <div class="owl-item" style="width: 273.75px;">
                                <div class="item">
                                    <a href="/Products/@slide.Id">
                                        <img src="/images/page-single-product/product-img/@slide.ImageName" class="w-100" alt="@slide.Title">
                                    </a>
                                    <h3 class="product-title">
                                        <a href="/Products/@slide.Id">
                                            @slide.Title
                                        </a>
                                    </h3>
                                    <div class="price">
                                        <span class="amount">
                                            @slide.PriceWithDiscount.FixedToView()
                                            <span> تومان</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div id="progressBar">
                <div class="slide-progress" style="width: 100%; transition: width 5000ms ease 0s;"></div>
            </div>
        </div>
    </div>
</div>