@using EndPoint.WebSite.Models.Components.Slider_Products;
@using Store_Application.Domain.Enums
@{
    ViewData["Title"] = "فروشگاه اینترنتی هگز مارکت";
}

<div class="container-main">
    <div class="d-block">
        @await Component.InvokeAsync("Slider_Main")
        @await Component.InvokeAsync("Banners_Top")
        @await Component.InvokeAsync("Slider_Amazing")
    </div>
</div>

@await Component.InvokeAsync("Banners_Middle")

<div class="container-main">
    <div class="d-block">

        @await Component.InvokeAsync("Slider_Products", new RequestSlider_Products { SliderId = ProductSliders.Short, SliderName = "Short" })

        @await Component.InvokeAsync("Slider_Products", new RequestSlider_Products { SliderId = ProductSliders.Suggestions, SliderName = "Suggestions" })

        @await Component.InvokeAsync("Slider_Products", new RequestSlider_Products { SliderId = ProductSliders.LongTop, SliderName = "LongTop" })

        @await Component.InvokeAsync("Slider_Products", new RequestSlider_Products { SliderId = ProductSliders.LongBottom, SliderName = "LongBottom" })
        @await Component.InvokeAsync("Slider_Brands")
    </div>
</div>



