@using EndPoint.WebSite.Areas.Admin.Models.Category.LoadSubCategories
@model List<SubCategoryViewModel>

<option selected="selected" value="0">انتخاب گروه</option>

@if (Model.Any())
{
    foreach (var cat in Model)
    {
        <option class="@((cat.isRemoved)?"bg-red bg-lighten-4":"")" value="@cat.Id">@cat.Title@((cat.isRemoved)?" (حذف شده)":"")</option>
    }
}