@using EndPoint.WebSite.Areas.UserPanel.Models.Account.ChangePassword
@model ChangePasswordViewModel
@{
    Layout = "_UserPanelLayout";
    ViewData["Title"] = "تغییر رمزعبور | فروشگاه اینترنتی هگز مارکت";
}

<div class="col-lg-9 col-md-9 col-xs-12 pl">
    <div class="profile-content">
        <div class="profile-stats">
            <div class="profile-address">
                <div class="middle-container">
                    <form asp-area="UserPanel" asp-controller="Account" asp-action="ChangePassword" class="form-checkout">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-checkout-row">

                            <div class="form-account-title">
                                <label asp-for="OldPassword" for="oldpassword">رمز عبور فعلی <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                <span asp-validation-for="OldPassword" class="text text-danger"></span>
                                <input asp-for="OldPassword" type="password" id="oldpassword" class="input-password-checkout form-control">
                            </div>
                            <div class="form-account-title">
                                <label asp-for="Password" for="password">رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                <span asp-validation-for="Password" class="text text-danger"></span>
                                <input asp-for="Password" type="password" id="password" class="input-password-checkout form-control">
                            </div>
                            <div class="form-account-title">
                                <label asp-for="RePassword" for="repassword">تکرار رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                                <span asp-validation-for="RePassword" class="text text-danger"></span>
                                <input asp-for="RePassword" type="password" id="repassword" class="input-password-checkout form-control">
                            </div>
                            <div class="form-row-account">
                                <div class="AR-CR">
                                    <button class="btn-registrar"> ثبت تغییرات </button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
