<nav class="navbar navbar-expand-lg navbar-light bg-faded d-lg-none">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-right mb-0 mt-0">
                <span class="sr-only">تغییر ناوبری </span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>