@using EndPoint.WebSite.Areas.Admin.Models.Product.LoadSubCategories
@model List<SubCategoryViewModel>

@if (Model.Any())
{
    <option value="0">انتخاب زیرگروه</option>
    foreach (var cat in Model)
    {
        <option value="@cat.Id">@cat.Title</option>
    }
}
else
{
    <option value="0">ابتدا باید برای این دسته بندی زیرگروه ایجاد کنید</option>
}

