@{
    ViewData["Title"] = "مديريت محصولات";
}
<section>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <h4 class="card-title">محصولات</h4>
                    </div>
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-md-6">
                            <a asp-area="Admin" asp-controller="Product" asp-action="Create" class="btn btn-info col-md-4 ">ایجاد محصول</a>
                        </div>

                        <input value="@ViewBag.searchKey" id="search-products-hidden" type="hidden" />
                        <input value="@ViewBag.page" id="page-number" type="hidden" />

                        <div class="float-left col-md-6 col-12">
                            <form asp-area="Admin" asp-controller="Product" asp-action="Index" method="get" id="search-products">
                                <div class="form-group">
                                    <div class="position-relative has-icon-right">
                                        <input name="searchKey" value="@ViewBag.searchKey" id="search-products-input" type="text" class="form-control round" placeholder="جست و جو کاربران">
                                        <input name="page" value="1" type="hidden" />
                                        <input value="@ViewBag.take" name="take" id="take" type="hidden" />
                                        <div class="form-control-position">
                                            <a onclick="$('#search-products').submit();">
                                                <i class="ft-search info"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>



                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive-md text-center" id="dt-Products">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <script src="~/Admin/js/siteJs/Products.js"></script>
}

@section Modals
{
    <partial name="_GalleryModal" />
    <partial name="_SlidersModal" />

}