
<section id="extended">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">ویژگی های محصولات</h4>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="button" onclick="ShowCreateFeatureModal()" class="btn btn-info col-6 col-sm-4 col-md-4 col-lg-5" value="ایجاد ویژگی" />
                        </div>
                    </div>

                </div>

                <div class="card-body">
                    <div class="card-block" id="dt-FeaturesData">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

    <script src="~/js/Admin/Feature.js"></script>
}

@section Modals
{
    <partial name="_EditFeatureNameModal" />
    <partial name="_CreateFeatureModal" />
}


